body {
  text-align: center;
  font-family: "Courier New", monospace;
  background-image: url(https://storage.needpix.com/rsynced_images/giraffe-background-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  margin: 0 auto;
  font-family: "Courier New", monospace;
  font-size: 50px;
  margin: 2%;
  color: black;
}
header{
background: #FF8C00;
}
.topnav {
  background-color: #6495ED;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 18px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #FFD3FF;
  color: black;
}

.topnav a.active {
  background-color:#AF127B;
  color: white;
}
